<% @records.each do |record| %>
  <h2><%= record.doi %></h2>
    <%= link_to 'Detail', doi_path(id: record.id), :class => 'pure-button' %>
    <%= link_to 'Edit', edit_doi_path(id: record.id), :class => 'pure-button' %>
  <table class="pure-table pure-table-bordered">
    <tr><td><strong>Pure ID</strong></td><td><%= record.pure_id %></td></tr>
    <!--<tr><td><strong>Pure UUID</strong></td><td><%= record.pure_uuid %></td></tr>-->
    <tr><td><strong>Title</strong></td><td><%= record.title %></td></tr>
    <tr><td><strong>Creators</strong></td>
      <td>
        <%#= record.creator_name %>
        <%#= record.metadata %>
        <% creators = JSON.parse(record.metadata)['resource']['creators']['creator'] %>
        <% case creators %>
        <% when Hash %>
            <%= creators['creatorName'] %>
        <%  when Array %>
            <%= creators[0]['creatorName'] %> et al.
        <% end %>
      </td>
    </tr>
    <tr><td><strong>URL</strong></td><td><%= link_to 'URL', record.url, :target => 'blank' %></td></tr>
    <!--<tr><td><strong>Metadata</strong></td><td><%= raw JSON.parse(record.metadata)['resource'].to_html %></td></tr>-->
  </table>
    <br/>
    <br/>
<% end %>