<div class="wrapper">
<%#= @record.inspect %>

<%#= params.inspect %>
  <%= render 'shared/header' %>
<h1><%= @record.doi %></h1>
  <%= link_to 'Detail', doi_path(id: @record.id), :class => 'pure-button' %>
<%= render 'summary_record' %>
<%#= session[:pure_dataset_summary].inspect %>

<%= form_tag(:doi, method: :put, :class => 'pure-form') do %>
    <%= text_field_tag :pure_id, @record.pure_id, placeholder: 123456,  readonly: false, :required => true, :class => 'text-field-pure-id', hidden: true %>
    <!--DOI:--> <%= text_field_tag :doi, @record.doi, placeholder: 'path/to/resource', readonly: true, :required => true, :class => 'text-field-doi', hidden: true %>
    URL: <%= text_field_tag :url, @record.url, placeholder: 'http://lancaster.ac.uk/path/to/resource', :required => true, :class => 'pure-input-2-3 pure-input-rounded' %>
    <%= submit_tag "Update", :class => 'pure-button pure-button-primary' %>
<% end %>

  <br/>
  <br/>
  <div class="metadata-update-atomic">
   <%= form_tag('/dois/' + @record.id.to_s + '/metadata/') do %>
      <%= submit_tag "Update Metadata", :class => 'pure-button button-secondary' %>
  <% end %>
  </div>
  <br/>
  <br/>
  <%= link_to 'Search', :dois_search, :class => 'pure-button' %>

</div>



<% flash.clear %>