<div class="wrapper">
  <%= render 'shared/header' %>
  <h1>DOIs</h1>
  <div class="apple_pagination">
    <%= will_paginate @records, :container => false %>
  </div>
  <%#= @sm_state %>
<%#= @headers %>
<%#= params.inspect %>
<%#= @records.inspect %>
    <%#= link_to 'Update all', :batch_update, :class => 'pure-button' %>

<%= render 'summary_record_vertical' %>

  <br>
  <div class="apple_pagination">
    <%= will_paginate @records, :container => false %>
  </div>
  <br>
  <br>
<%= link_to 'Search', :dois_search, :class => 'pure-button' %>
</div>

<% flash.clear %>