<div class="wrapper">
  <%= render 'shared/header' %>

    <h1>Status</h1>
  <%= form_tag({controller: "dois", action: "find"}, method: "post", :class => 'pure-form') do %>
      Pure ID: <%= text_field_tag :pure_id, "", placeholder: 123456, :required => true,
                                  :class => 'pure-input-1-4 pure-input-rounded', type: :number %>
      <%= submit_tag "Search", :class => 'pure-button pure-button-primary', :id => 'search-btn' %>
  <% end %>

  <br/>

  <h1>DOIs</h1>
  <% if ActiveRecord::Base.connection.adapter_name == 'PostgreSQL'%>
      <p>
        Full-text search for minted DOIs on title, description, keywords, person name, DOI, file sizes, file rights and Pure UUID. For example, using   <i>regulat</i> as a word prefix would match the whole words <i>regulate</i>, <i>regulatory</i> and <i>Regulation</i>.
      </p>

      <%= form_tag({controller: "dois", action: "search_full_text"}, method: "post", :class => 'pure-form') do %>
          Word prefix: <%= text_field_tag 'term', params[:term], placeholder: "regulat", :required => true,
                             :class => 'pure-input-1-4 pure-input-rounded' %>
          <%= submit_tag "Search", :class => 'pure-button pure-button-primary', :id => 'search-text-btn' %>
      <% end %>
      <br/>
  <% end %>

  <%= link_to 'DOIs', :dois, :class => 'pure-button' %>
  <%= link_to 'DOI reservations', :dois_reservations, :class => 'pure-button', :id => 'reservations_btn' %>

  <%= render 'shared/status' %>

  <% if @debug_endpoints == 'true' %>
    <%= render 'shared/environment' %>
  <% end %>
</div>

<% flash.clear %>



