<div class="wrapper">
  <%= render 'shared/header' %>
  <h1><%= @record.doi %></h1>
  <%= link_to 'Edit', edit_doi_path(id: @record.id), :class => 'pure-button' %>
  <table class="pure-table pure-table-bordered">
    <tr><td><strong>Pure Id</strong></td><td><%= @record.pure_id %></td></tr>
    <tr><td><strong>Title</strong></td><td><%= @record.title %></td></tr>
    <tr><td><strong>Creator</strong></td><td><%= @record.creator_name %></td></tr>
    <tr><td><strong>DOI minted at</strong></td><td><%= @record.doi_created_at %></td></tr>
    <tr><td><strong>DOI minted by</strong></td><td><%= @record.doi_created_by %></td></tr>
    <tr><td><strong>URL</strong></td><td><%= @record.url %></td></tr>
    <tr><td><strong>URL updated at</strong></td><td><%= @record.url_updated_at %></td></tr>
    <tr><td><strong>URL updated by</strong></td><td><%= @record.url_updated_by %></td></tr>
    <tr><td><strong>Metadata updated at</strong></td><td><%= @record.metadata_updated_at %></td></tr>
    <tr><td><strong>Metadata updated by</strong></td><td><%= @record.metadata_updated_by %></td></tr>
  </table>

  <br/>
  <br/>
  <%= link_to 'Search', :dois_search, :class => 'pure-button' %>

</div>

<% flash.clear %>