<div class="wrapper">
  <%= render 'shared/header' %>
  <h1><%= @record.doi %></h1>
  <%= link_to 'Edit', edit_doi_path(id: @record.id), :class => 'pure-button' %>
  <table class="pure-table pure-table-bordered">
    <%# label_class = 'z-depth-5 light-green lighten-3' %>
    <% label_class = '' %>
    <%#= @metadata %>
    <tr><td class="<%=label_class%>"><strong>Pure ID</strong></td><td><%= @record.pure_id %></td></tr>
    <tr><td class="<%=label_class%>"><strong>Pure UUID</strong></td><td><%= @record.pure_uuid %></td></tr>

    <!--<tr><td><strong>Title</strong></td><td><%= @record.title %></td></tr>-->
    <tr>
      <td class="<%=label_class%>"><strong>Title</strong></td>
      <td>
        <%= @metadata["titles"]["title"][0] %><% if @metadata["titles"]["title"].size === 2 %>: <%= @metadata["titles"]["title"][1] %><% end %>
      </td>
    </tr>

    <tr><td class="<%=label_class%>"><strong>Description</strong></td><td><%= @metadata["descriptions"]["description"] %></td></tr>

    <tr>
      <td class="<%=label_class%>"><strong>Creators</strong></td>
      <td>
        <% creators = @metadata['creators']['creator'] %>
        <% case creators %>
        <% when Hash %>
                <%= creators['creatorName'] %>
        <%  when Array %>
            <%= creators[0]['creatorName'] %> et al.
        <% end %>
      </td>
    </tr>

    <% if @metadata['contributors'] %>
        <tr>
          <td class="<%=label_class%>"><strong>Contributors</strong></td>
          <td>
            <% contributors = @metadata['contributors']['contributor'] %>
            <% case contributors %>
            <% when Hash %>
                <%= contributors['contributorName'] %>
            <%  when Array %>
                <%= contributors[0]['contributorName'] %> et al.
            <% end %>
          </td>
        </tr>
    <% end %>

    <% if @metadata['sizes'] %>
        <tr><td class="<%=label_class%>"><strong>Sizes</strong></td>
          <td>
            <% case @metadata['sizes']['size'] %>
            <% when Array %>
                <ul>
                  <% @metadata['sizes']['size'].each do |i| %>
                      <li>
                        <%= i %>
                      </li>
                  <% end %>
                </ul>
            <% else %>
                <%= @metadata['sizes']['size'] %>
            <% end %>
          </td>
        </tr>
    <% end %>

    <% if @metadata['formats'] %>
        <tr><td class="<%=label_class%>"><strong>Formats</strong></td>
          <td>

            <% case @metadata['formats']['format'] %>
            <% when Array %>
                <ul>
                  <% @metadata['formats']['format'].each do |i| %>
                          <li>
                              <%= i %>
                          </li>
                  <% end %>
                </ul>
            <% else %>
                <%= @metadata['formats']['format'] %>
            <% end %>
          </td>
        </tr>
    <% end %>

    <% if @metadata['rightsList'] %>
        <tr><td class="<%=label_class%>"><strong>Rights</strong></td>
          <td>

            <% case @metadata['rightsList']['rights'] %>
            <% when Array %>
                <ul>
                  <% @metadata['rightsList']['rights'].each do |i| %>
                      <li>
                        <%= i %>
                      </li>
                  <% end %>
                </ul>
            <% else %>
                <%= @metadata['rightsList']['rights'] %>
            <% end %>
          </td>
        </tr>
    <% end %>

<%#= @metadata %>


    <tr><td class="<%=label_class%>"><strong>DOI minted at</strong></td><td><%= @record.doi_created_at %></td></tr>
    <tr><td class="<%=label_class%>"><strong>DOI minted by</strong></td><td><%= @record.doi_created_by %></td></tr>
    <tr><td class="<%=label_class%>"><strong>URL</strong></td><td><%= @record.url %></td></tr>
    <tr><td class="<%=label_class%>"><strong>URL updated at</strong></td><td><%= @record.url_updated_at %></td></tr>
    <tr><td class="<%=label_class%>"><strong>URL updated by</strong></td><td><%= @record.url_updated_by %></td></tr>
    <tr><td class="<%=label_class%>"><strong>Metadata updated at</strong></td><td><%= @record.metadata_updated_at %></td></tr>
    <tr><td class="<%=label_class%>"><strong>Metadata updated by</strong></td><td><%= @record.metadata_updated_by %></td></tr>
  </table>

  <br/>
  <br/>
  <%= link_to 'Search', :dois_search, :class => 'pure-button' %>

</div>

<% flash.clear %>