<div class="header">

  <div class="app-title">
    <%= link_to 'Mint', :root %>
  </div>

  <div class="datacite-logo">
    <%= image_tag('datacite-logo.png') %>
  </div>

  <div class="lancs-logo-separator">|</div>

  <div class="lancs-logo">
    <%= link_to image_tag('lancs-logo.png'), 'http://www.lancaster.ac.uk/' %>
  </div>

  <div class="app-version">v<%= Doi::Application::VERSION %></div>

</div>

<%= render 'shared/flash_messages' if !flash.empty? %>