<%= render 'shared/flash_messages' if !flash.empty? %>

<%= @xml %>
<br/>
<%= @doc %>

<h3>Update metadata for an existing DOI</h3>
<%= form_tag(:metadata_create, id: 'metadata') do %>
    DOI: <%#= @display_prefixes[:doi] %><%= text_field_tag :doi, @doi, placeholder: 'doi', readonly: true, :required => true, :class => 'text-field-doi' %>
    <br/>
    <br/>
    Creators
    <br/>
    <div class="input_fields_wrap">
      <button class="add_creator_name_field_button" >Add More Creators</button>
      <div><input id="creatorName" type="text" name="creatorName[]" placeholder="Creator Name"></div>
    </div>
    Titles
    <br/>
    Title: <%= text_field_tag :title, "", placeholder: 'Title' %>
    <br/>
    Publisher: <%= text_field_tag :publisher, "", placeholder: 'Publisher' %>
    <br/>
    Publication Year: <%= text_field_tag :publicationYear, "", placeholder: 'Publication Year' %>
    <br/>
    <%= submit_tag "Update Metadata" %>
<% end %>

<% flash.clear %>
<!--<script src="/javascripts/livevalidation_standalone.compressed.js"></script>-->
<!--<script src="/javascripts/livevalidation_setup.js"></script>-->